@mixin category-wrap() {
  white-space: nowrap;
  overflow-x: auto;
  margin: 14px 8px 0;
  background-color: $app-bg-color;
}

@mixin category-span() {
  padding: 0 12px;
  color: #ccc;
  font-weight: 700;
  line-height: 2.1;
}

.category-wrap {
  @include category-wrap();

  span {
    @include category-span();
  }
}

.category-wrap-divider {
  @include category-wrap();

  span {
    @include category-span();
    border-left: 2px solid #ccc;
  }
  span:first-child {
    border-left: none;
  }
}

.top-nav-container {
  position: sticky;
  z-index: 5;
  border-bottom: 1px solid #ccc;
  .top-wrap {
    @include flex-between();
    padding: 12px 10px 0 20px;

    .top-logo-wrap {
      img {
        width: 120px;
        height: 19px;
        margin-top: 5px;
      }
    }

    .menu-wrap {
      a {
        padding: 16px 10px 10px;
        font-size: 24px;
        color: #333;
      }
    }
  }
}

.menu-open-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: $white-color;

  .menu-bottom-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    color: #333;
    font-weight: 700;
    font-size: 18px;

    margin-top: 10px;
  }
}
