$gap: 17px;
$padding: 20px;

.page-title {
  padding: 20px 20px 5px;
  strong {
    font-size: 22px;
  }
}
.product-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $gap;
  padding: 0 $padding;
  margin-top: 30px;

  .product-item-image-wrap {
    @include flex-center();

    img {
      max-width: 100%;
      height: calc(100vw / 2 - #{$gap} - #{$padding});
    }
  }

  .rank {
    padding: 8px;
    border-bottom: 1px solid $silver-border-color;
  }

  .product-item-product-name {
    margin-top: 8px;
    font-weight: 700;
  }

  .product-item-option {
    @include ellipsis(1);
  }
}

.product-item-price-info {
  margin: 8px 0 16px;
  font-weight: 700;

  .sale-price {
    color: $sig-color;
    margin-top: 8px;
  }

  .price {
    color: #999;
    margin-left: 7px;
  }
}

.product-item-hash {
  color: #999;
}
