html {
}

body {
  font-family: Helvetica Neue,Helvetica,Apple SD Gothic Neo,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $black-color;
  background-color: $app-bg-color;
}

a {
  text-decoration: none;
  color: $black-color;
}

.lottie-loading-wrap {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  z-index: 999999;
}

.lottie-loading {
  width: 250px;
  height: 250px;
  display: flex;
}

a:link {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
  text-decoration: none;
}