$sig-color: #e60012;
$sig-bold-color: #990000;
$black-color: #333;
$silver-color: #dcdddd;
$silver-light-color: #f9f9f9;
$white-color: white;
$app-bg-color: white;
$overlay-color: rgba(0, 0, 0, 0.4);
$inactive-color: rgba(35, 24, 21, 0.3);
$green-color: #008f45;
$silver-border-color: #b0b0b0;