.divider {
  @include divider-common();
  height: 4.6px;
}

.divider-slim {
  @include divider-common();
  background-color: #cecece;
  height: 1px;
}

.divider-fat {
  width: 90%;
  border: 2px solid #000;
  margin: 18px 3px;
}

.display-hidden {
  display: none !important;
}

.float-button-container {
  position: fixed;
  bottom: 36px;
  right: 11px;
}

.horizontal-scroll {
  overflow-x: auto;
  display: flex;
}

.flex-center {
  @include flex-center();
}

.col {
  flex-direction: column;
}

.row-between {
  @include flex-between();
}
