@mixin divider-common() {
  width: 100%;
  background-color: #f2f2f2;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin ellipsis($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: $line;
  height: #{1.2 * $line}rem;
  line-height: #{1.2 * $line}rem;
}
